<div class="row">
    <div class="col-lg-12">

        <div  ng-controller="detailController">

            <p> titre : {{film.titre}}</p>
            <img  src="img/films/{{film.url_img}}" alt="">

            <p> description : {{film.description}}</p>



        </div>
    </div>
    <div class="row"  >
        nombre d'articles pour la commande : <input ng-model="nmb">
        <button type="button" class="btn btn-success" ng-controller="detailController"><a href="/#/panier:{{nmb}}">valider</a></button>
    </div>

</div>
