<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">


<div class="row">

    <div class="col-md-6">

        <div class="panel panel-default detailarticle" ng-controller="detailController">

            <p class="panel-heading"> titre : {{film.titre}}</p>
            <div class="panel-body">
                <img src="img/films/{{film.url_img}}" >
                <p> description : {{film.description}}</p>
            </div>


        </div>


    </div>
    <div class="col-md-6">
        <button class="buttondetail" style="vertical-align:middle">
            <a  ng-click="ajoutpanier()" style="text-decoration:none; color: #193756; ">  <span> <img src="https://maxcdn.icons8.com/Color/PNG/48/Ecommerce/shopping_cart_loaded-48.png" title="Shopping Cart Loaded" width="48">
                panier

            </span> </a>
        </button>
    </div>
</div>


