<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.2.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<div class="row">
    <div class="col-md-6">

        <div ng-controller="detailController">

            <p> titre : {{film.titre}}</p>
            <img src="img/films/{{film.url_img}}" alt="">

            <p> description : {{film.description}}</p>


        </div>
    </div>

    <div class="col-md-6">
        <div ng-controller="DatepickerPopupDemoCtrl">
            <pre>dernier date sélectionnée : <em>{{dt | date:'fullDate' }}</em></pre>

            <h4>Popup</h4>
            <div class="row">
                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt"
                               is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close" alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i
                    class="glyphicon glyphicon-calendar"></i></button>
          </span>
                    </p>
                </div>

                <div class="col-md-6">
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup ng-model="dt"
                               is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                               close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-sm btn-info" ng-click="valreservation()">valider la reservation</button>

            <hr/>

        </div>
    </div>

    <div class="row">
        nombre d'articles pour la commande : <input ng-model="nmb">
        <button type="button" class="btn btn-success" ng-controller="detailController"><a href="/#/panier:{{nmb}}">valider</a>
        </button>
    </div>

</div>


