<div class="contenu" ng-controller="articleController">

    <!-- article  -->
    <div class="row">
        <div class="titre">
            <h2><img src="https://maxcdn.icons8.com/Color/PNG/96/Folders/movies_folder-96.png" title="Movies Folder"
                     width="96"> Derniers Films ajoutes </h2>
        </div>
        <div ng-repeat="x in film | filter : myvar" class="{{x | columns:6:$index}} blocarticle">
            <div class="article">
                <a href="/#/detail{{x._id}}">
                    <p class="list-group-item">{{x.titre}}</p>


                    <img class="article img-thumbnail" src="img/films/{{x.url_img}}">


                    <div class="menu-item list-group-item text-right">


                        <img src="https://maxcdn.icons8.com/Color/PNG/24/Ecommerce/add_shopping_cart-24.png"
                             class="pull-left" title="Add Shopping Cart" width="30" style="position: relative;bottom: 7px;">
                        Prix
                        <span class="glyphicon glyphicon-euro"></span> {{x.prix}}
                    </div>
                </a>
            </div>
        </div>


    </div>

</div>

<!-- article fin -->

