<div class="contenu" ng-controller="articleController">

    <!-- article  -->
    <div class="row">
        <div class="titre">
            <h2><img src="https://maxcdn.icons8.com/Color/PNG/96/Folders/movies_folder-96.png" title="Movies Folder"
                     width="96"> Derniers Films ajoutes </h2>
        </div>
        <div ng-repeat="x in film | filter : myvar" class="{{x | columns:6:$index}} blocarticle">
            <div class="article">

                <p class="list-group-item">{{x.titre}}</p>

                <a href="/#/detail{{x._id}}" >
                <img class="article img-thumbnail" src="img/films/{{x.url_img}}">
                </a>

                <a href="/#/detail{{x._id}}" class="menu-item list-group-item text-right">

                   Prix
                     <span><span class="glyphicon glyphicon-euro"></span>{{x.prix}}</span>
                </a>

            </div>
        </div>


    </div>

</div>

<!-- article fin -->



