<div class="contenu" ng-controller="articleController">

    <!-- article  -->
    <div class="row">
        <div class="titre">
            <h2><img src="https://maxcdn.icons8.com/Color/PNG/96/Folders/movies_folder-96.png" title="Movies Folder"
                     width="96"> Derniers Films ajoutes </h2>
        </div>
        <div class="col-lg-2 " ng-repeat="x in film | filter : myvar">

            <div class="blocarticle ">
                <img class="article img-thumbnail" src="img/films/{{x.url_img}}" alt="affiche filp">
                <p> {{x.titre}}</p>

                <p> prix : {{x.prix}}</p>
                <button type="button" class="btn btn-primary" ng-controller="detailController">
                    <a class="lien" style="text-decoration:none;color:#000" href="/#/detail{{x._id}}">acheter</a>
                </button>
                <figcaption>
                    <h3>film, 55$</h3>
                    <button id="addbutton" ng-click="addToCart(x);">Add to cart</button>
                </figcaption>
            </div>
            <div ng-if="cart.length" class="shopping-cart">
                <h2>{{cart.length}} items in cart, {{getCartPrice()}}$</h2>

			<span class="cart-item th radius" ng-repeat="product in cart">
				<img ng-src="img/films/{{product.image}}" title="{{product.title}}"/>
				<span class="badge" ng-show="product.quantity > 1">
					x{{product.quantity}}
				</span>
			</span>


            </div>

        </div>
    </div>
    <!-- article fin -->


</div>