<div ng-controller="panier2Controller">


    <div class="allarticle">
        <div ng-repeat="x in panierfilm | filter : myvar" class="{{x | columns:6:$index}} blocarticle">
            <div class="article">

                <p class="list-group-item">{{x.titre}}</p>
                <div class="qtimg"><p>{{x.qt}}</p></div>
                <img class="article img-thumbnail" src="img/films/{{x.url_img}}">

                <div class="menu-item list-group-item text-left">

                    <span class="glyphicon glyphicon-euro"></span> {{x.prix*x.qt}}
                    <button class=" pull-right" ng-click="removeArticle(x._id,$index)" >
                        <img class="align-right"
                             src="https://maxcdn.icons8.com/Color/PNG/24/Ecommerce/clear_shopping_cart-24.png"
                             title="Clear Shopping Cart" width="24">
                    </button>
                </div>

            </div>
        </div>
    </div>


</div>
</html>