<div class="row">
    <div class="col-lg-12">

        <div  ng-controller="detailController">

            <p> titre : {{nomfilm}}</p>
            <img  src="img/{{img}}" alt="">

            <p> discrkha{{disc}}</p>

            <div class="row"  >
                nombre d'articles pour la commande : <input ng-model="nmb">
                <button type="button" class="btn btn-success"><a href="/test-craftacademy/#/panier:{{nmb}}:{{nomfilm}}">valider</a></button>
            </div>

        </div>
    </div>


</div>
